* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html, body {
    height: 100%;
}

body {
    background-color: blanchedalmond;
}

header {
    background-color: deepskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    font-size: 26px;
    padding: 0 1rem 0 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6rem;
    transition: .5s ease-in-out;
}

nav div:hover {
    background-color: #65d9ff;
}

nav p {
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}